<%= @user.name %>
<h3>Services:</h3>
<% @services.each do |service| %>
  <p>Service Title: <%= service.title %></p>
  <p>Description: <%= service.description %></p>
  <p>Price (RMB): <%= service.price %></p>
  <% if policy(service).edit? %>
    <%= link_to "Update", edit_service_path(service) %>
  <% end %>
  <% if policy(service).destroy? %>
    <%= link_to "Delete", service_path(service), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
<% end %>
<% if policy(Service).create? %>
  <%= link_to "New service", new_user_service_path(@user) %>
<% end %>