<!-- Page Content -->
<div class="container">
  <!-- Portfolio Item Heading -->
  <h1 class="my-4">
    <h3 class="my-3"><%= @user.name %> Profile Page</h3>
  </h1>
  <!-- Portfolio Item Row -->
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid" src="https://cdn2.stylecraze.com/wp-content/uploads/2013/07/2840-10-Pictures-Of-Angelina-Jolie-Without-Makeup.jpg" alt="">
    </div>
    <div class="col-md-8">
      <p>Star's name: <%= @user.name %></p>
      <p>Star's tags:</p>
      <p>Star's bio: <%= @user.bio %></p>
      <h3 class="my-3">Services</h3>
      <% @services.each do |service| %>
        <button class="purple-button-md"><%= link_to "Book #{service.title} $#{number_with_delimiter(service.price)}", new_service_booking_path(service) %></button>
        <% if policy(service).edit? %>
          <%= link_to "Update", edit_service_path(service) %>
        <% end %>
        <% if policy(service).destroy? %>
          <%= link_to "Delete", service_path(service), method: :delete, data: { confirm: "Are you sure?" } %><br>
        <% end %>
      <% end %>
    </div>
  </div>
  <!-- /.row -->
  <!-- Related Projects Row -->
  <h3 class="my-4">Latest Shoutouts</h3>
  <div class="row">
    <div class="col-md-3 col-sm-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/500x350/?eric" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Made for</h5>
          <div class="card-text text-black-50">Eric</div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/500x350/?olivia" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Made for</h5>
          <div class="card-text text-black-50">Olivia</div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/500x350/?jennifer" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Made for</h5>
          <div class="card-text text-black-50">Bing</div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/500x350/?terry" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Made for</h5>
          <div class="card-text text-black-50">Calvin</div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <h3 class="my-4">Related</h3>
  <div class="row">
    <div class="col-md-3 col-sm-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/500x350/?ryan" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Jay Leno</h5>
          <div class="card-text text-black-50">Comedian</div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/500x350/?jake" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">John Mayer</h5>
          <div class="card-text text-black-50">Musician</div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/500x350/?sally" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Olivia Munn</h5>
          <div class="card-text text-black-50">Actress</div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://source.unsplash.com/500x350/?rebecca" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Constance Wu</h5>
          <div class="card-text text-black-50">Actress</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- /.container -->