<div class="container pt-5">
  <div class="row justify-content-center">
    <h1>Welcome <%= @user.name %>!</h1>
    <div class="col-12 col-lg-8">
      <% @bookings.each do |booking| %>
        <div class="row">
          <div class="booking-info-card">
            <p>Service: <%= booking.service.title %></p>
            <p>Recipient: <%= booking.recipient %></p>
            <p>Instructions: <%= booking.instructions %></p>
            <%= simple_form_for booking do |f| %>
              <%= f.input :accepted %>
              <%= f.button :submit, class: "pink-button", value: "Submit" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>